<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="martin.app.bitunion"
    android:versionCode="6"
    android:versionName="0.8.3" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="martin.app.bitunion.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="martin.app.bitunion.LoginActivity"
            android:parentActivityName="martin.app.bitunion.MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="martin.app.bitunion.MainActivity" />
        </activity>
        <activity
            android:name="martin.app.bitunion.DisplayActivity"
            android:label="@string/title_activity_display"
            android:parentActivityName="com.netapp.bitunion.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.netapp.bitunion.MainActivity" />
        </activity>
        <activity
            android:name="martin.app.bitunion.ThreadActivity"
            android:label="@string/title_activity_thread"
            android:parentActivityName="martin.app.bitunion.DisplayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="martin.app.bitunion.DisplayActivity" />
        </activity>
        <activity
            android:name="martin.app.bitunion.MyinfoActivity"
            android:label="@string/title_activity_myinfo"
            android:parentActivityName="com.netapp.bitunion.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.netapp.bitunion.MainActivity" />
        </activity>
        <activity
            android:name="martin.app.bitunion.NewthreadActivity"
            android:label="@string/title_activity_newthread"
            android:parentActivityName="martin.app.bitunion.DisplayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="martin.app.bitunion.DisplayActivity" />
        </activity>
        <activity
            android:name="martin.app.bitunion.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="martin.app.bitunion.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="martin.app.bitunion.MainActivity" />
        </activity>
    </application>

</manifest>