<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="martin.app.bitunion"
    android:versionCode="14"
    android:versionName="1.0.3" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:name="martin.app.bitunion.BUApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Default" >
        <meta-data
            android:name="martin.app.bitunion.util.SyncedVolleyGlideModule"
            android:value="GlideModule" />
        <activity
            android:name="martin.app.bitunion.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="martin.app.bitunion.LoginActivity"
            android:parentActivityName="martin.app.bitunion.MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="martin.app.bitunion.MainActivity" />
        </activity>
        <activity
            android:name="martin.app.bitunion.DisplayActivity"
            android:parentActivityName="martin.app.bitunion.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="martin.app.bitunion.MainActivity" />
        </activity>
        <activity
            android:name="martin.app.bitunion.ThreadActivity"
            android:parentActivityName="martin.app.bitunion.DisplayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="martin.app.bitunion.DisplayActivity" />
        </activity>
        <activity
            android:name="martin.app.bitunion.MyinfoActivity"
            android:parentActivityName="martin.app.bitunion.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="martin.app.bitunion.MainActivity" />
        </activity>
        <activity
            android:name="martin.app.bitunion.NewthreadActivity"
            android:parentActivityName="martin.app.bitunion.DisplayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="martin.app.bitunion.DisplayActivity" />
        </activity>
        <activity
            android:name="martin.app.bitunion.SettingsActivity"
            android:parentActivityName="martin.app.bitunion.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="martin.app.bitunion.MainActivity" />
        </activity>
        <activity android:name="martin.app.bitunion.ImageViewerActivity"
                  android:theme="@style/ImageViewerTheme"/>
    </application>

</manifest>